.value-view {
    margin: 10px 5px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.value-view-time{
    display: flex;
    align-items: baseline;
    font-size: 8px;
    color: white;
    margin-right: 10px;
}
